@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var user = await UserManager.GetUserAsync(User);
}
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <div class="card">
                <div class="imgDiv"><img src="~/Assets/Regal.png" alt="Card image cap"></div>
                <div class="card-body">
                    <h5 class="card-title">@User.Identity.Name</h5>
                    <p class="card-text" style="color:black">
                        Name: @User.Identity.Name <br />
                        Email: @user.Email <br />
                        Role: INSPECTOR <br />
                    </p>
                </div>
            </div>
            <ul class="list-group">
                <li class="rpi-left-li-active">Inspections</li>
                <li class="rpi-left-li">Inspectors</li>
                <li class="rpi-left-li">Upcoming</li>
                <li class="rpi-left-li">Corrections</li>
                <li class="rpi-left-li">Approved</li>
                <li class="rpi-left-li"><img class="card-img-top btnImage" src="~/Assets/Livehelp.png" alt="Card image cap"></>Help</li>
                @*<li class="list-group-item">A fourth item</li>
                    <li class="list-group-item">And a fifth one</li>*@
            </ul>
        </div>
        <div class="col-6">
            <div class="row">
                <h1 class="rpi-red-title" style="width:75%">My Dashboard</h1> <button class="rpi-button-green" style="width: 20%;">+ Add New</button>
                <hr style="margin-top: 10px;" />
            </div>
            <div class="input-group mb-3">
                <div class="rpi-card-red" style="width: 14rem;">
                    <div class="card-body">
                        <h5 class="card-title rpi-card-title">Create Inspection</h5>
                        <a asp-area="" asp-controller="Operations" asp-action="CreateRole" class="card-link"><div class="imgDiv"><img class="card-img-top btnImage" src="~/Assets/Homework.png" alt="Card image cap"></div></a>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#inspectionTypeModal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-plus" viewBox="0 0 16 16">
                                <path d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5z" />
                                <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z" />
                            </svg>
                            Create
                        </button>
                    </div>
                </div>
                <div class="rpi-card-red" style="width: 14rem;">
                    <div class="card-body">
                        <h5 class="card-title rpi-card-title">View Inspections</h5>
                        <a asp-area="" asp-controller="Operations" asp-action="CreateRole" class="card-link"><div class="imgDiv"><img class="card-img-top btnImage" src="~/Assets/Stickynote.png" alt="Card image cap"></div></a>
                        <button type="button" class="btn btn-primary position-relative" asp-area="" asp-controller="Operations" asp-action="CreateRole">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eyeglasses" viewBox="0 0 16 16">
                                <path d="M4 6a2 2 0 1 1 0 4 2 2 0 0 1 0-4zm2.625.547a3 3 0 0 0-5.584.953H.5a.5.5 0 0 0 0 1h.541A3 3 0 0 0 7 8a1 1 0 0 1 2 0 3 3 0 0 0 5.959.5h.541a.5.5 0 0 0 0-1h-.541a3 3 0 0 0-5.584-.953A1.993 1.993 0 0 0 8 6c-.532 0-1.016.208-1.375.547zM14 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0z" />
                            </svg>
                            View
                            <span class="badge text-bg-danger">4</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="" style="font-size:smaller; font-weight:200;">
                <h1 class="rpi-red-title" style="font-family:'Poppins'">Upcoming Inspections</h1>
                <div class="rpi-card">
                    <div class="">
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">2/14 Coronet Place</h5>
                                    <small>in 3 days</small>
                                </div>
                                <p class="mb-1">Client: Jon Doe</p>
                                <small>Pre-Purchase Inspection</small>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">93 Hepburn Rd</h5>
                                    <small>in 13 days</small>
                                </div>
                                <p class="mb-1">Client: Jane James</p>
                                <small>Pre-Purchase Inspection</small>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">25/182 FlatBush School Rd</h5>
                                    <small>in 13 days</small>
                                </div>
                                <p class="mb-1">Client: Jane James</p>
                                <small>Pre-Purchase Inspection</small>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="inspectionTypeModal" tabindex="-1" role="dialog" aria-labelledby="inspectionTypeModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered inspectionTypeModal" role="document">
        <div class="modal-content" style="width:auto !important">
            <div class="modal-header vstack">
                <h5 class="rpi-red-title" id="inspectionTypeModalLongTitle">Select Inspection Type</h5>
                <small>Please select an inspection type</small>
            </div>
            <div class="modal-body inspectionTypeModalBody hstack">
                <div class="rpi-card-red" style="width: 22rem;">
                    <div class="card-body">
                        <h5 class="rpi-card-title">Pre-Purchase Inspection</h5>
                        <p class="card-text">
                            This inspection type is used when a property needs to be inspected prior to a customer's purchase.
                        </p>
                        <input type="button" class="rpi-btn rpi-button-yellow" value="Create" onclick="location.href='@Url.Action("PP_Inspection", "InspectionType")'" />
                    </div>
                </div>
                <div class="rpi-card-red" style="width: 22rem;">
                    <div class="card-body">
                        <h5 class="rpi-card-title">Maintenance Report</h5>
                        <p class="card-text">
                            This inspection type is used when a property needs to be inspected for a maintenance report.
                        </p>
                        <input type="button" class="rpi-btn rpi-button-yellow" value="Create" onclick="location.href='@Url.Action("PP_Inspection", "InspectionType")'" />
                    </div>
                </div>
                <div class="rpi-card-red" style="width: 22rem;">
                    <div class="card-body">
                        <h5 class="rpi-card-title">Meth Report</h5>
                        <p class="card-text">
                            This inspection type is used when a property needs to be inspected any type of Meth Preparation.
                        </p>
                        <input type="button" class="rpi-btn rpi-button-yellow" value="Create" onclick="location.href='@Url.Action("PP_Inspection", "InspectionType")'" />
                    </div>
                </div>
                <div class="rpi-card-red" style="width: 22rem;">
                    <div class="card-body">
                        <h5 class="rpi-card-title">Healthy Home</h5>
                        <p class="card-text">
                            This inspection type is used when a property needs to be inspected Healthy Homes.
                        </p>
                        <input type="button" class="rpi-btn rpi-button-yellow" value="Create" onclick="location.href='@Url.Action("PP_Inspection", "InspectionType")'" />
                    </div>
                </div>
            </div>
            <div class="modal-footer vstack">
                <button type="button" class="rpi-btn rpi-button-red" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
