@model PropertyInspection_WebApp.Models.PropertyInfo
@inject PIConfigurations config
@using PropertyInspection_WebApp.Helpers.ProcessingHelper
@using PropertyInspection_WebApp.Settings
@using MongoDB.Driver

@{
    var connectionString = config.CONNECTIONSTRING;
    var propertyBucketName = config.PROPERTYINFOBUCKETNAME;
    var dbName = config.PROPERTYDATABASENAME;

    var _mongoClient = new MongoClient(connectionString);
    var _mongoDatabase = _mongoClient.GetDatabase(dbName);
}

<small>Central Auckland House <br />Inspections Limited</small>
<hr />

<h1 class="col-sm-12">
    @Html.DisplayFor(model => model.PropertyAddress)
</h1>
<h3 class="col-sm-12">
    @Html.DisplayFor(model => model.InspectionType)
</h3>
<dl class="row">

    @*<dt class="col-sm-4" hidden>
            @Html.DisplayNameFor(model => model._id)
        </dt>
        <dd class="col-sm-8" hidden>
            @Html.DisplayFor(model => model._id)
        </dd>
        <dt class="col-sm-4" hidden>
            @Html.DisplayNameFor(model => model.PropertyId)
        </dt>
        <dd class="col-sm-8" hidden>
            @Html.DisplayFor(model => model.PropertyId)
        </dd>*@


    <dd class="col-sm-12" style="border:1px">
        @{
            var image = ImageGridFSHelper.RetrieveImageFromGridFS(Model.ImageGridFSID, propertyBucketName, _mongoDatabase);
            var base64 = Convert.ToBase64String(image);
            var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
        }
        <img src="@imgSrc" />
    </dd>

    <dt class="col-sm-4" style="border:1px">
        Client First Name
    </dt>
    <dd class="col-sm-8" style="border:1px">
        @Html.DisplayFor(model => model.ClientFName)
    </dd>
    <dt class="col-sm-4" style="border:1px">
        Client Last Name
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.ClientLName)
    </dd>
    <dt class="col-sm-4">
        People Present
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.PeoplePresent)
    </dd>
    <dt class="col-sm-4">
        House Occupied
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.HouseOccupied)
    </dd>
    <dt class="col-sm-4">
        Legal Description
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.LegalDescription)
    </dd>
    <dt class="col-sm-4">
        Certificate Of Title
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.CertOfTitle)
    </dd>

    @*<dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ImageGridFSID)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ImageGridFSID)
        </dd>*@

    <dt class="col-sm-4">
        Inspection Date &nbsp; Time
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.InspectionDateTime)
    </dd>

    @*<dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.WhenAdded)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.WhenAdded)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.AddedBy)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.AddedBy)
        </dd>*@

</dl>
