@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var user = await UserManager.GetUserAsync(User);
    var pk_propertyid = TempData["pk_property_id"];
    var pk_address = TempData["pk_property_address"];
    var pk_clientName = TempData["pk_property_ClientName"];
    var pk_inspectionType = TempData["pk_property_inspectionType"];
}
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="imgDiv"><img class="card-img-top btnImage" src="~/Assets/smart-home.png" alt="Card image cap"></div>
                <div class="card-body">
                    <h5 class="card-title">Inspector: @User.Identity.Name</h5>
                    <p class="card-text" style="color:black !important">
                        Property: @pk_address <br />
                        Client Name: @pk_clientName <br />
                        Inspection Type: @pk_inspectionType <br />
                        PropertyID: @pk_propertyid
                    </p>
                </div>
            </div>
            <ul class="list-group">
                <li class="rpi-left-li"><a asp-area="" asp-controller="ModularForm" asp-action="BuildingElements" class="card-link">Building Elements</a></li>
                <li class="rpi-left-li"><a asp-area="" asp-controller="ModularForm" asp-action="InteriorElements" class="card-link">Interior Elements</a></li>
                <li class="rpi-left-li"><a asp-area="" asp-controller="ModularForm" asp-action="ExteriorElements" class="card-link">Exterior Elements</a></li>
                <li class="rpi-left-li"><a asp-area="" asp-controller="ModularForm" asp-action="GeneralElements" class="card-link">General Elements</a></li>
                <li class="rpi-left-li"><a asp-area="" asp-controller="ModularForm" asp-action="ExteriorSiteElements" class="card-link">Exterior Site Elements</a></li>
            </ul>
        </div>
        <div class="col-9">
            <div class="">
                <h1 class="display-6" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Pre-Purchase Checklist </h1>
                <h3 class="display-7" style="font-family:'Poppins'">Dashboard</h3>
            </div>
            @if (ViewBag.Message != null)
            {
                <div class="p-1 mb-2 bg-success text-white">@ViewBag.Message</div>
            }
            <br />
            <div class="input-group text-center mb-3">
                <div class="rpi-card-red" style="width: 15rem;">
                    <div class="card-body">
                        <h5 class="rpi-card-title">Building Elements</h5>
                        <h6 class="card-text">Foundation, Wall Framing, Roof Space</h6>
                        <br />
                        <button type="button" class="rpi-btn rpi-button-yellow" onclick="location.href='@Url.Action("BuildingElements", "ModularForm", new {id = pk_propertyid})'">
                            Complete
                        </button>
                    </div>
                </div>
                <div class="rpi-card-red" style="width: 15rem;">
                    <div class="card-body">
                        <h5 class="rpi-card-title">Interior Elements</h5>
                        <h6 class="card-text">Lounge, Kitchen, Bathrooms, Bedrooms</h6>
                        <br />
                        <button type="button" class="rpi-btn rpi-button-yellow" onclick="location.href='@Url.Action("InteriorElements", "ModularForm")'">
                            Complete
                        </button>
                    </div>
                </div>
                <div class="rpi-card-red" style="width: 15rem;">
                    <div class="card-body">
                        <h5 class="rpi-card-title">Exterior Elements</h5>
                        <h6 class="card-text">Roof Exterior, Cladding, Joinery</h6>
                        <br />
                        <button type="button" class="rpi-btn rpi-button-yellow" onclick="location.href='@Url.Action("ExteriorElements", "ModularForm")'">
                            Complete
                        </button>
                    </div>
                </div>
                <div class="rpi-card-red" style="width: 15rem;">
                    <div class="card-body">
                        <h5 class="rpi-card-title">General Elements</h5>
                        <h6 class="card-text">Electrical, Plumbing & Drainage</h6>
                        <br />
                        <button type="button" class="rpi-btn rpi-button-yellow" onclick="location.href='@Url.Action("GeneralElements", "ModularForm")'">
                            Complete
                        </button>
                    </div>
                </div>
                <div class="rpi-card-red" style="width: 15rem;">
                    <div class="card-body">
                        <h5 class="rpi-card-title">Exterior Site Elements</h5>
                        <h6 class="card-text">Exterior Site Elements</h6>
                        <br />
                        <button type="button" class="rpi-btn rpi-button-yellow" onclick="location.href='@Url.Action("ExteriorSiteElements", "ModularForm")'">
                            Complete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
